 /* Медиа-запрос для экранов от 768px */
@media (max-width: 1110px) {
    .body{
        max-width: 725px;
    }

    .filter .filter_row_two_free{
        grid-template-columns:1fr 1fr; /* Три колонки одинаковой ширины */
    }
    .filter .priceRange{
        grid-row: 1; 
        grid-column: 2;
    }
    .filter .input_max_min{
        grid-row: 2; 
        grid-column: 1;
    }
    .filter .priceRange_show div:first-child {
        margin-right: 0;
    }
    /* .modal_characteristic .modal_name{
        padding-top: 0;
    } */
    .apartment_listing {
        grid-template-columns: auto auto; /* Три колонки одинаковой ширины */
        justify-content: space-between; /* Распределяет колонки по горизонтали */
        row-gap: 25px;
    }
    .iframe_loader_body{
        grid-column: 1/3;
    }
    .filter .priceRange_show{
        flex-direction: column;
    }
    .filter .priceRange_show div{
        display: flex;
        justify-content: end;
    }
}
@media (max-width: 1110px) {
    .modal_body{
        width: 718px;
        /* margin-top: 100px;
        margin-bottom: 100px; */
    }
    .modal_image {
        width: 718px;
        height: 504px;
    
     }
    
    .modal_image img {
        width: 718px;
        height: 504px;
     }
     /* .modal_highlights{
        grid-template-columns: repeat(10, auto);
     } */
     .modal_info{
        max-width: 682px;
     }
     .modal_img_list{
        column-gap: 5px;
        row-gap: 5px;
     }
     .modal_img_list .modal_img_item {
        width: 210px;
        height: 150px;
    
     }
     .modal_img_list .modal_img_item img {
        width: 210px;
        height: 150px;
     }
     .modal_body_slider_window{
        max-width: 718px;
    }
    .slider_main .slick-prev,.slider_main .slick-prev:hover{
        left: 10px;
        top:    455px;
    }
    .slider_main .slick-next, .slider_main .slick-next:hover {
        right: 10px;
        top:    455px;
    }
    .modal_close, .modal_close_slider_window{
        top: 20px;

    }
}

@media (max-width: 1110px) {
    .wrapper_new_home{
        width: 100%;
        max-width: 736px;
    }
    .wrapper_title_new_home{
        flex-direction: column;
        align-items: flex-start;
        /* margin-bottom: 30px; */
    }
    .title_new_home{
        margin-bottom: 20px;
    }
}