/* Медиа-запрос для экранов от 390px */
@media (max-width: 740px) {
    .body{
        max-width: 350px;
    }
    .main_heading{
        font-size: 35px;
        line-height: 39.67px;
        margin-bottom: 34px;
    }
    .filter .filter_row_two_free,.filter .filter_row_one{
        grid-template-columns: 1fr;
    }
    .filter .priceRange{
        grid-row: 2; 
        grid-column: 1;
    }
    .filter .input_max_min{
        display: inline-block;
        grid-row: 3/5; 
        grid-column: 1;
    }
    .filter #min_area, .filter #max_area {
        /* max-width: 265px !important; */
        height: 50px;
    }
    .filter #min_area {
        margin-right: 0;
    }
    .filter #min_area{
        margin-bottom: 20px;
    }
    .filter .room{
        display: grid;
        grid-template-columns:auto auto;
        row-gap: 20px;
        justify-content: space-between;
    }
    .filter .room input{
        margin: 0 !important;
    }
    .apartment_listing {
        grid-template-columns: auto; /* Три колонки одинаковой ширины */
        justify-content: space-between; /* Распределяет колонки по горизонтали */
    }
    .iframe_loader_body{
        grid-column: 1;
        width: 350px;
    }
    #max_area{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .filter_type_dropdown{
        width: 100%;
    }
}
@media (max-width: 740px) {
    .modal_body{
        width: 370px;
        margin-bottom: 1000px;
    }
    .modal_image {
        width: 370px;
        height: 504px;
    
     }
     .modal_details .modal_content{
        width: 150px;
        text-align: left;
    }
    .modal_details .modal_list > div {
        height: 100%;
    }
    .modal_image img {
        width: 370px;
        height: 504px;
     }
     .selling_status_modal{
        left: 10px;
     }
     .modal_characteristic .modal_name{
        padding-top: 20px;
    }
     .modal_highlights{
        display: flex;
        justify-content: start;
        white-space: nowrap;
        flex-wrap: wrap
     }
    .modal_highlights div{
        margin: 0 4px;
        margin-bottom: 13px;
    }

    .modal_property_details .modal_list .modal_property_details_column2 {
        grid-column: 1; 
    }  
    
    .modal_property_details .modal_list .modal_property_details_row2 {
        grid-row:6;
    } 
    .modal_property_details .modal_list .modal_property_details_row3 {
        grid-row:7;
    }  
    .modal_property_details .modal_list .modal_property_details_row4 {
        grid-row:8; 
    }  
    .modal_info{
        padding: 0 10px;
        max-width: 350px;
     }
     .modal_additional_information{
        margin-top: 30px;
    }
    .modal_description{
        padding-bottom: 40px;
    }
    .modal_img_list{
        grid-template-columns: auto auto; /* две внешние колонки будут гибкими */
        row-gap: 10px;
    }

    .modal_img_list .modal_img_item {
        width: 160px;
        height: 146px;
    
     }
     .modal_img_list .modal_img_item img {
        width: 160px;
        height: 146px;
     }
     .modal_amenities > div{
        grid-template-columns: auto; /* две внешние колонки будут гибкими */
    }
    .modal_amenities .modal_list > div{
        width: 330px;
    }
    .modal_amenities .modal_title{
        width: 330px;
    }
    .modal_amenities .modal_title span{
        margin-right: auto;
    }

    .modal_property_details > div{
        grid-template-columns: auto; /* две внешние колонки будут гибкими */
    }
    .modal_property_details .modal_list > div{
        width: 330px;
    }
    .modal_pricing_body{
        display: flex;
        flex-direction: column;
    }
    .modal_pricing_two > div{
        justify-content: space-between;
    }
    .modal_pricing_two .modal_content{
        max-width: 160px;
        width: 100%;
    }
    .modal_pricing_one,
    .modal_pricing_two{
        width: 100%;
    }
    .modal_pricing_two .modal_title{
        max-width: 140px;
        width: 100%;
    }
    .modal_location{
        margin-top: 40px;
    }
    .modal_location .modal_address{
        white-space: wrap;
    }
    .modal_map {
        margin-bottom: -50px;
    }
    .filter .room .popup_room{
        width: 100%;
        padding: 10px;
    }
    .filter .room .input_button:nth-child(2){
        margin-right: 0;
    }
    .filter .room label:nth-child(3){
        margin-left: 0;
    }
    .filter .room .popup_bathroom{
        top:125px
    }
    .filter .filter_move_in_date{
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
}
@media (max-width: 740px) {
    .modal_body_slider_window{
        max-width: 340px;
        overflow: hidden;
    }
    .slider_thumbnails_item{
        width: 50px;
        height: 50px;
    }
    .slider_thumbnails_item img{
        width: 50px;
        height: 50px;
    }
    .slider_main .slick-prev,.slider_main .slick-prev:hover{
        left: -5px;
        top:  445px;
    }
    .slider_main .slick-next, .slider_main .slick-next:hover {
        right: -5px;
        top:   445px;
    }
    .slider_thumbnails{
        max-width: 270px;
    }
}

@media (max-width: 768px) {
    .wrapper_new_home{
        width: 100%;
        max-width: 358px;
    }
    .header_name_new_home{
        font-size: 48px;
        width: 100%;
    }
    /* .header_new_home{
        margin-bottom: 40px;
    } */
}